h1,
h2 {
    text-align: center;
}

form {
    width: 300px;
    margin: 0 auto;
}

input {
    margin: 5px;
    width: 85px;
    height: 50px;
    background-color: black;
    color: white;
}

input[value="Branco"] {
    background-color: white;
    color: black;
}

input[value="Corrige"] {
    background-color: orange;
    color: white;
}

input[value="Confirma"] {
    background-color: green;
    color: white;
}

span {
    display: inline-block;
    border-bottom: 1px solid black;
    width: 2em;
}

input[disabled] {
    visibility: hidden;
}

#name {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}